Repository parsa-rajabi-ubc/Home-Together-Canada, pull requests merged in 2021-04, with the labels that each got.

#796 HTC-795: Remove Pending Business
  client/src/admin/AdminContainer.js
  client/src/admin/__tests__/__snapshots__/AdminContainer.test.js.snap
  client/src/common/constants/users.js
Labels: client-side, task

#800 HTC-367: fixed header bug
  client/src/accountSummary/AccountSummaryContainer.js
Labels: bug, client-side, task

#802 HTC-473: added server side validation for birthyear
  server/controllers/validators/__tests__/userControllerValidatorUtils.test.js
  server/controllers/validators/userControllerValidator.js
  server/controllers/validators/userControllerValidatorUtils.js
Labels: server-side, task

#801 HTC-793: display business logos on listing cards
  client/src/admin/manageListings/PendingListingCards.js
  client/src/admin/manageListings/__tests__/__snapshots__/PendingListingCards.test.js.snap
  client/src/searchServicesClassifieds/listingCards/BusinessListingCard.js
  client/src/searchServicesClassifieds/listingCards/__tests__/__snapshots__/BusinessListingCard.test.js.snap
  client/src/searchServicesClassifieds/listingResults/ListingResults.js
  client/src/searchServicesClassifieds/listingResults/__tests__/__snapshots__/ListingResults.test.js.snap
  client/src/searchServicesClassifieds/listingResults/__tests__/__snapshots__/ListingResultsContainer.test.js.snap
  server/controllers/listingController.js
Labels: client-side, task

#807 HTC-805: Peer Testing Report #1
  docs/Peer Testing Reports/Peer Testing #1 Report .pdf
Labels: chore, documentation

#808 HTC-806: Peer Testing Report #2
  docs/Peer Testing Reports/Peer Testing #2 Report .pdf
Labels: chore, documentation

#804 HTC-774/messaging connect backend
  client/src/accountSummary/AccountSummaryContainer.js
  client/src/accountSummary/member/messaging/ConversationCard.js
  client/src/accountSummary/member/messaging/FullConversation.js
  client/src/accountSummary/member/messaging/MessageBox.js
  client/src/accountSummary/member/messaging/MessagingContainer.js
  client/src/accountSummary/member/messaging/SelectConversation.js
  client/src/accountSummary/member/messaging/SendMessage.js
  client/src/accountSummary/member/messaging/__test__/ConversationCard.test.js
  client/src/accountSummary/member/messaging/__test__/FullConversation.test.js
  client/src/accountSummary/member/messaging/__test__/MessageBox.test.js
  client/src/accountSummary/member/messaging/__test__/MessagingContainer.test.js
  client/src/accountSummary/member/messaging/__test__/SelectConversation.test.js
  client/src/accountSummary/member/messaging/__test__/SendMessage.test.js
  client/src/accountSummary/member/messaging/__test__/__snapshots__/ConversationCard.test.js.snap
  client/src/accountSummary/member/messaging/__test__/__snapshots__/FullConversation.test.js.snap
  client/src/accountSummary/member/messaging/__test__/__snapshots__/MessageBox.test.js.snap
  client/src/accountSummary/member/messaging/__test__/__snapshots__/MessagingContainer.test.js.snap
  client/src/accountSummary/member/messaging/__test__/__snapshots__/SelectConversation.test.js.snap
  client/src/accountSummary/member/messaging/__test__/__snapshots__/SendMessage.test.js.snap
  client/src/accountSummary/member/messaging/__test__/messageUtils.test.js
  client/src/accountSummary/member/messaging/messageUtils.js
  client/src/memberSearch/profilePage/ProfilePage.js
  client/src/mockData/MockMessageData.js
  client/src/services/MessageService.js
  server/controllers/messagesController.js
  server/controllers/validators/messageControllerValidator.js
  server/models/message.js
  server/routes/messageRoutes.js
Labels: client-side, common, database, server-side, task
